body {
	padding: 32pt;
	max-width: 800px;
	margin: auto;
}
h2 {
	font-size: 16pt;
	font-weight: 400;
}
h3 {
	font-size: 12pt;
	margin-bottom: 6pt;
}
hr {
	border: none;
	border-bottom: 1px dotted black;
}
ul {
	margin-top: 0;
}
li {
	margin-bottom: 8pt;
}
li li {
	margin-bottom: 0;
}
/* everything below is WIP */
.row {
	display: flex;
	flex-flow: row wrap;
	margin-top: 0;
	margin-bottom: 6pt;
}
.hover-container {
	position: relative;
	display: inline;
	border: 1px dotted black;
}
.hover-container > * {
	display: none;
}
.hover-container:hover > * {
	display: block;
	position: absolute;
	top: 12pt;
	left: 0;
	background-color: #e0e0e0;
	border: 1px solid black;
	padding: 8px;
}
