/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #080808;
	color: #cdcdcd;
	margin: 0;
	padding: 0;
	width: 100svw;
	height: 100svh;
	overflow: hidden;
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
}

body.grab {
	cursor: grab;
}

body.grabbing {
	cursor: grabbing;
}

body.pointer {
	cursor: pointer;
}

#webgl {
	width: 100%;
	height: 100%;
}
