<!doctype html>
<html>
	<head>
		<title>Micah Baker</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<link rel="icon" type="image/svg" href="{{ url_for('static', filename='star.svg') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body id="top" onscroll="topbtn()">
		<div id="to-top">
			<a href="#top">
				<img src="{{ url_for('static', filename='top.svg') }}">
			</a>
		</div>
<script>
let totop = document.getElementById("to-top");

function topbtn() {
if (document.body.scrollTop > 64
 || document.documentElement.scrollTop > 64) {
	totop.style.display = "block";
	} else {
		totop.style.display = "none";
	}
}
</script>
		<img class="title" src="{{ url_for('static', filename='title.svg') }}">
		<div class="buttons">
			<a class="soft" href="#about">
				<div class="button">
					<div class="icon">
						<img src="{{ url_for('static', filename='star.svg') }}">
					</div>
					<div class="title">
						<h1>About</h1>
					</div>
				</div>
			</a>
			<a class="soft" href="#projects">
				<div class="button">
					<div class="icon">
						<img src="{{ url_for('static', filename='star.svg') }}">
					</div>
					<div class="title">
						<h1>Projects</h1>
					</div>
				</div>
			</a>
			<hr>
			<a class="soft" href="https://github.com/micahdbak">
				<div class="button">
					<div class="icon">
						<img src="{{ url_for('static', filename='git.svg') }}">
					</div>
					<div class="title">
						<h1>GitHub</h1>
					</div>
				</div>
			</a>
			<a class="soft" href="https://linkedin.com/in/micahdbak">
				<div class="button">
					<div class="icon">
						<img src="{{ url_for('static', filename='in.svg') }}">
					</div>
					<div class="title">
						<h1>LinkedIn</h1>
					</div>
				</div>
			</a>
			<hr>
			<a class="soft" href="{{ url_for('static', filename='resume.pdf') }}">
				<div class="button">
					<div class="icon">
						<img src="{{ url_for('static', filename='file.svg') }}">
					</div>
					<div class="title">
						<h1>Resume</h1>
					</div>
				</div>
			</a>
		</div>
		<div id="about" class="section">
			<h1>About</h1>
			<div class="flex">
				<img class="shadow" src="{{ url_for('static', filename='me.jpg') }}">
				<div class="document">
					<p>Welcome to my personal website, <u>https://micahbaker.xyz</u>!</p>
					<p>My name is <b>Micah Baker</b>, a Computing Science undergraduate student at <a href="https://sfu.ca">Simon Fraser University</a>.
					<p>I am passionate about topics such as distributed systems, operating systems, and low-level programming languages.</p>
					<p>Here, you can find information on any projects that I am currently pursuing, or previously pursued.</p>
					<p>Please see my <a href="https://github.com/micahdbak">GitHub</a> or <a href="https://linkedin.com/in/micahdbak">LinkedIn</a> for more information.</p>
					<p>Thank you for visiting!</p>
				</div>
			</div>
		</div>
		<div id="projects" class="section">
			<h1>Projects</h1>
			<div class="flex">
				{% for project in projects %}
				<a class="soft" href="{{ project.link|safe }}">
					<div class="project">
						{% if project.image != 'none' %}
						<img src="{{ project.image }}">
						{% endif %}
						<p><b>{{ project.title|safe }}</b></p>
						<p><b>{{ project.date|safe }}</b></p>
						<p>{{ project.about|safe }}</p>
						<p><i>Click to view.</i></p>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="footer">
			<h1>&copy; Micah Baker (2023)</h1>
		</div>
	</body>
</html>
